*/



/* //-- header, body, footer -- */

.heading {
  
}
body {
  
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  background-color: lightgray


}

.projectlinks {
 text-align: center;
 font-size: 30pt;
 }

 .links{
  text-align: center;
  font-size: 20pt;
 }
 .links li {
  display: inline;
 }
h1 {
  text-transform: uppercase;
}


h2 {
  
   font-family: Georgia, Garamond, "Times New Roman", Times, serif;
 
  font-size: 15pt;
  font-style: bold;
}
p {
  text-align: left;
  font-size: 15pt;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
 
}
/* 
******* Hovering links to projects
********links to projects*********
*/



/*
******Media Queries****
*/

@media (min-width:769px) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .heading {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
  float: left;
  background-color: lightblue
}

img {
  position: relative;
  text-align: center;
  }

.content {
  position: right;
}

.content li {
  position: left;
}

.links { 
  margin-bottom: 60%;
}

footer {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
  background-color: lightblue
  }
}









