*/



/* //-- header, body, footer -- */

header {
  text-align: center;
  padding-right: 700px;
  padding-left: 700px;
}
body {
  
   font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  

}

h1 {
  text-transform: uppercase;
}

.content {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightskyblue
}
h2 {
  
  text-align: center;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  padding:0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15pt;
  font-style: bold;
}
p {
  text-align: center;
  font-size: 15pt;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  padding:0;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
h3 { 
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
   font-size: 15pt;
  font-style: bold;
}
 p {
   
    font-size: 15pt;
    font-family: Georgia, Garamond, "Times New Roman", Times, serif;
    padding:0;
  }


/*
********links to projects*********
*/
 

/* //-- footer -- */
.edu {
  background-color: lightskyblue;
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
  text-align: left;
}











