*/



/* //-- header, body, footer -- */

header {
  text-align: center;
  padding-right: 700px;
  padding-left: 700px;
}
body {
  
  text-align: center;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  

}

h1 {
  text-transform: uppercase;
}

.content {
    text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightskyblue
}
h2 {
  
  text-align: center;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  padding:0;
  margin-top: 0px;
  margin-bottom: 0px;
  text-colo
  font-size: 15pt;
  font-style: bold;
}
p {
  text-align: center;
  font-size: 15pt;
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  padding:0;
}

.wrapper {
  margin-left: 15px;
  margin-right: 10px;
  text-align: left;
}
h3 { 
  text-align: center
  font-family: Georgia, Garamond, "Times New Roman", Times, serif;
  padding:0;
  margin-top: 0px;
  margin-bottom: 0px;
  text-colo
  font-size: 15pt;
  font-style: bold;
}
 p {
   
    font-size: 15pt;
    font-family: Georgia, Garamond, "Times New Roman", Times, serif;
    padding:0;
  }
  .wrapper {
    text-align: left;
    display: inline;

  }


footer p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- footer -- */
.wrap { 
  mid-height:100vh
  background-color: navy;;
}
footer {
  text-align: center;
  padding-right: 700px;
  padding-left: 700px;
  
  background-color: navy;
}


@media screen and (max-width: 59.9em) {
  #inner {
    padding: 5 5 5 5;
    margin: 0 auto;
    background: #f5f5f5;
    border: solid #666;
    border-width: 8px 0 2px 0;
    box-shadow: 0 1px 3px #000;
  }

}

}

.main-header {
	padding-right: 700px;
  padding-left: 700px;
  background-color: aqua;
}

.main-footer { 
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}

}



